<h2>Liste des produits</h2>
  
<table>
  <tr>
      <th>Nom</th>
      <th>Fournisseur</th>
      <th>Email du fournisseur</th>
      <th>Liste des ingrédients</th>
      <th>Description</th>
      <th>Age</th>
      <th>Condition de conservation</th>
      <th>Prix</th>
      <th>Supprimer</th>
  </tr>
  
  <tr *ngFor="let product of products_array">
    <td>{{ product.nom | uppercase }}</td>
    <td>{{ product.fournisseur }}</td>
    <td>{{ product.email_fournisseur }}</td>
    <td>{{ product.liste_ingredients }}</td>
    <td>{{ product.description | lowercase }}</td>
    <td>{{ product.age }}</td>
    <td>{{ product.condition_conservation }}</td>
    <td>{{ product.prix | number }} €</td>
    <td><a href="#" ng-click="deleteProduct(product)">Supprimer</a></td>
  </tr>
</table>  